/* ーーーーー フォント ーーーーー */
/* タイトル用フォント */
@font-face{
    font-family: "TitleFont";
    src: url("../font/MOBO-Bold.otf") format("opentype");
}

/* 本文用フォント */
@font-face{
    font-family: "BodyFont";
    src: url("../font/MOBO-SemiBold.otf") format("opentype");
}

/* フッター用フォント */
@font-face{
    font-family: "footerFont";
    src: url("../font/MOBO-ExtraLight.otf") format("opentype");
}

/* ーーーーー 全体 ーーーーー */
body{
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background:#AAAAAA;
    color:#000000;
    font-family: "BodyFont", sans-serif;
}

/* ーーーーー タイトル ーーーーー */
h1{
    color:#FFFFFF;
    font-family:"TitleFont", sans-serif;
    font-size:48px;
    font-weight:normal;
    text-align:center;

    margin:40px 0 56px;
}

/* ーーーーー 本文エリア ーーーーー */
.content{
    width: 150px;
    margin:0 auto;
    font-size:24px;
    line-height:1.8;
}

/* ーーーーー 各ブロック ーーーーー */
.link-block{
    text-align: left;
    margin-bottom: 1em;
}

.link-block h2{
    font-size:24px;
    font-weight:normal;
    margin:0 0 4px;
}

/* ーーーーー リンク ーーーーー */
.link-block a{
    display:block;
    color:#55131E;
    text-decoration:none;
    font-size:18px;
}

.link-block a::before{
    content:"- ";
    color:#FFFFFF;
}

/* ホバー時下線表示 */
.link-block a:hover{
    text-decoration:underline;
}

/* ーーーーー フッター ーーーーー */
.footer{
    width: 100%;
    margin-top: auto;
    padding: 10px 0;
    text-align:center;
    background-color:#000000;
}

.footer p{
    margin:0;
    font-family:"footerFont", sans-serif;
    font-size:14px;
    line-height:1.2;
    color:#FFFFFF;
}