/* ーーーーー フォント ーーーーー */
/* タイトル用フォント */
@font-face{
    font-family: "TitleFont";
    src: url("../font/MOBO-Bold.otf") format("opentype");
}

/* 本文用フォント */
@font-face{
    font-family: "BodyFont";
    src: url("../font/MOBO-SemiBold.otf") format("opentype");
}

/* フッター用フォント */
@font-face{
    font-family: "footerFont";
    src: url("../font/MOBO-ExtraLight.otf") format("opentype");
}

/* ーーーーー 全体 ーーーーー */
body{
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background:#AAAAAA;
    color:#000000;
    font-family: "BodyFont", sans-serif;
}

/* ーーーーー タイトル ーーーーー */
h1{
    color:#FFFFFF;
    font-family:"TitleFont", sans-serif;
    font-size:48px;
    font-weight:normal;
    text-align:center;

    margin:40px 0 56px;
}

/* ーーーーー 見出し ーーーーー */
h2{
    color:#000000;
    font-family:"TitleFont", sans-serif;
    font-size:24px;
    font-weight:normal;
    text-align: left;
}

/* ーーーーー 本文エリア ーーーーー */
.content{
    color:#000000;
    font-family: "BodyFont", sans-serif;
    width: 300px;
    margin:0 auto;
    font-size:18px;
    line-height:1.8;
    text-align: left;
}

/* ーーーーー フッター ーーーーー */
.footer{
    width: 100%;
    margin-top: auto;
    padding: 15px 0;
    text-align:center;
    background-color:#202020;
}

.footer p{
    margin:0;
    font-family:"footerFont", sans-serif;
    font-size:14px;
    line-height:1.2;
    color:#FFFFFF;
}